.productCardContainer {
    margin-right: 5vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    align-items: start;
}

.productCardDetailsContainer {
    display: table;
    width: 50vw;
    margin: 2vw;
    line-height: 5vh;
}

.productCardDetailsContainer  label {
    display: table-row
}

.productCardButtonContainer {
    width: 20vh;
    display: table;
    margin: 3vw;
    line-height: 5vh;
}

.productCardButtonContainer label {
    display: table-row
}
.productCardButtonContainer button {
    height: 3vh;
    width: 10vw;
    display: table-row;
    background-color: darkgrey;
    border: solid 0.1vw white;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #E8CBC0 0%, #636FA4 51%, #E8CBC0 100%);
    background-blend-mode: multiply,multiply;
}