.productsListContainer {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.searchBarContainer {

    height: 7vh;
    display: flex;
    flex-direction: row;
    margin: 2vh;
    padding-left: 10vw;
    align-items: center;
    border-radius: 10px;
    background: #E6DADA;
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);
    background: linear-gradient(to right, #274046, #E6DADA);
}


.searchBarContainer label {

    margin-left: 2vw;
    font-weight: 700;
    color: white;
}

.searchBarContainer input {
    border: none;
    border-bottom: solid 5px white;
    border-radius: 8px;
    width: 15.5vw;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.searchBarContainer select {
    width: 8vw;
    margin-left: 1vw;
    border: none;
    border-bottom: solid 5px white;
    border-radius: 8px;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    color: black;
}

.searchBarContainer a {
    text-decoration: none;
    cursor: alias;
}

.cartCount {
    padding: 0.2vw;
    /* float: right; */
    font-weight: 700;
    border: solid 2px darkslategray;
    border-radius: 8px;
    color: black !important;
    margin-left: 40vw !important;
}